In [1]:
import pandas as pd

In [2]:
# Question 1:
# Load the Ames Housing dataset
ames_df = pd.read_csv('AmesHousing.csv')

In [3]:
# Display first five rows of the DataFrame
ames_df.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [4]:
# Question 2:
# Highest priced home
highest_price = ames_df.loc[ames_df['SalePrice'].idxmax()]

# Lowest priced home
lowest_price = ames_df.loc[ames_df['SalePrice'].idxmin()]

print("Highest Priced Home:")
print(highest_price)

print("\nLowest Priced Home:")
print(lowest_price)

Highest Priced Home:
Order                  1768
PID               528351010
MS SubClass              60
MS Zoning                RL
Lot Frontage          104.0
                    ...
Mo Sold                   1
Yr Sold                2007
Sale Type               WD
Sale Condition       Normal
SalePrice            755000
Name: 1767, Length: 82, dtype: object

Lowest Priced Home:
Order                   182
PID               902207130
MS SubClass              30
MS Zoning                RM
Lot Frontage           68.0
                    ...
Mo Sold                   6
Yr Sold                2010
Sale Type               WD
Sale Condition      Abnorml
SalePrice             12789
Name: 181, Length: 82, dtype: object

In [6]:
# Question 3:
# Count distinct categories of Lot Size
lot_size_categories = ames_df['Lot Config'].nunique()
print("Number of categories for Lot Size:", lot_size_categories)

Number of categories for Lot Size: 5

In [7]:
# Question 4: 
# Calculate range of years for house listings
min_year = ames_df['Year Built'].min()
max_year = ames_df['Year Built'].max()
print("Range of years for house listings:", min_year, "to", max_year)

Range of years for house listings: 1872 to 2010

In [9]:
# Question 5:
# Total number of homes sold in Ames
total_num_sold = ames_df.shape[0]
print("Total number of homes sold in Ames:", total_num_sold)

Total number of homes sold in Ames: 2930

In [10]:
# Question 6:
# Count nulls in Lot Frontage column
count_nulls = ames_df['Lot Frontage'].isnull().sum()
print("Number of nulls or NA in Lot Frontage column:", count_nulls)

Number of nulls or NA in Lot Frontage column: 490

In [11]:
# Question 7:
# Count non-nulls and nulls in Alley column
count_alley = ames_df['Alley'].notnull().sum()
nulls_alley = ames_df['Alley'].isnull().sum()
print("Number of items with a value in Alley column:", count_alley)
print("Number of nulls or NA in Alley column:", nulls_alley)

Number of items with a value in Alley column: 198
Number of nulls or NA in Alley column: 2732

In [12]:
# Question 8:
# Filter homes in Gilbert with Yr Sold in 2009 or 2010
gilbert_homes = ames_df[(ames_df['Neighborhood'] == 'Gilbert') & (ames_df['Yr Sold'].isin([2009, 2010]))]
print("Homes in Gilbert with Yr Sold in 2009 or 2010:")
print(gilbert_homes)

Homes in Gilbert with Yr Sold in 2009 or 2010:
     Order        PID  MS SubClass MS Zoning  Lot Frontage  Lot Area Street  \
4        5  527105010           60        RL          74.0     13830   Pave
5        6  527105030           60        RL          78.0      9978   Pave
9       10  527162130           60        RL          60.0      7500   Pave
10      11  527163010           60        RL          75.0     10000   Pave
11      12  527165230           20        RL           NaN      7980   Pave
12      13  527166040           60        RL          63.0      8402   Pave
13      14  527180040           20        RL          85.0     10176   Pave
16      17  527225035           50        RL         152.0     12134   Pave
18      19  527276150           20        RL         140.0     19138   Pave
51      52  528218150           20        RL         100.0     18494   Pave
54      55  528231020           80        RL          67.0     13300   Pave
55      56  528240070           60        RL           NaN      7851   Pave
56      57  528240130           60        RL          63.0      8577   Pave
57      58  528250100           80        RL           NaN      7750   Pave
58      59  528292020           60        RL           NaN      9505   Pave
344    345  527105070           60        RL          88.0     10179   Pave
345    346  527105130           60        RL           NaN     11792   Pave
346    347  527107130           80        RL          60.0      8400   Pave
347    348  527108070           20        RL          42.0     14892   Pave
348    349  527110020           80        RL           NaN      8530   Pave
353    354  527161040           80        RL          57.0      8923   Pave
354    355  527162110           60        RL          74.0     10141   Pave
355    356  527162120           60        RL          60.0      7500   Pave
356    357  527163040           60        RL          59.0      7837   Pave
357    358  527163070           60        RL           NaN      9765   Pave
358    359  527163130           60        RL           NaN      8803   Pave
359    360  527164020           20        RL          58.0      7250   Pave
360    361  527164060           60        RL           NaN      9636   Pave
361    362  527164090           60        RL          65.0      8125   Pave
362    363  527165130           20        RL           NaN      9248   Pave
363    364  527166010           60        RL           NaN     10762   Pave
364    365  527180100           20        RL          99.0     11851   Pave
369    370  527276160           60        RL          85.0     11900   Pave
464    465  528218090           60        RL          63.0     10928   Pave
465    466  528220040           60        RL          57.0      8918   Pave
466    467  528221060           60        RL         149.0     12589   Pave
467    468  528221070           60        RL         122.0     11911   Pave
474    475  528235010           60        RL          71.0      7795   Pave
475    476  528235090           60        RL           NaN      8068   Pave
476    477  528235200           80        RL          59.0      9434   Pave
477    478  528240030           60        RL          62.0      7984   Pave
478    479  528240060           80        RL           NaN      7750   Pave
479    480  528240150           60        RL          61.0     10125   Pave
480    481  528250020           60        RL           NaN      8965   Pave
481    482  528250040           60        RL           NaN      8174   Pave
483    484  528275070           60        RL           NaN      8795   Pave
484    485  528275160           60        RL           NaN     12891   Pave
485    486  528280230           60        RL           NaN     12224   Pave
486    487  528290030           80        RL          61.0      9734   Pave
487    488  528290120           60        RL          60.0      8123   Pave
488    489  528290180           60        RL          42.0      8433   Pave
489    490  528290190           80        RL          62.0      7750   Pave
490    491  528292030           60        RL           NaN     15896   Pave
491    492  528292040           60        RL           NaN     24682   Pave
492    493  528292070           60        RL           NaN      8755   Pave
493    494  528294050           80        RL          64.0      7848   Pave

    Alley Lot Shape Land Contour  ... Pool Area Pool QC  Fence Misc Feature  \
4     NaN       IR1          Lvl  ...         0     NaN  MnPrv          NaN
5     NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
9     NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
10    NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
11    NaN       IR1          Lvl  ...         0     NaN  GdPrv         Shed
12    NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
13    NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
16    NaN       IR1          Bnk  ...         0     NaN    NaN          NaN
18    NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
51    NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
54    NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
55    NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
56    NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
57    NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
58    NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
344   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
345   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
346   NaN       Reg          Lvl  ...         0     NaN    NaN         Shed
347   NaN       IR1          HLS  ...         0     NaN    NaN          NaN
348   NaN       IR1          Lvl  ...         0     NaN    NaN         Shed
353   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
354   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
355   NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
356   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
357   NaN       IR2          Lvl  ...         0     NaN    NaN         Shed
358   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
359   NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
360   NaN       IR1          Lvl  ...         0     NaN  MnPrv          NaN
361   NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
362   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
363   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
364   NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
369   NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
464   NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
465   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
466   NaN       IR2          Lvl  ...         0     NaN    NaN          NaN
467   NaN       IR2          Lvl  ...         0     NaN    NaN          NaN
474   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
475   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
476   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
477   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
478   NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
479   NaN       IR1          Lvl  ...         0     NaN  MnPrv          NaN
480   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
481   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
483   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
484   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
485   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
486   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
487   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
488   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
489   NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
490   NaN       IR2          Lvl  ...         0     NaN    NaN          NaN
491   NaN       IR3          Lvl  ...         0     NaN    NaN          NaN
492   NaN       IR1          Lvl  ...         0     NaN  GdPrv          NaN
493   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN

    Misc Val Mo Sold Yr Sold Sale Type  Sale Condition  SalePrice
4          0       3    2010       WD           Normal     189900
5          0       6    2010       WD           Normal     195500
9          0       6    2010       WD           Normal     189000
10         0       4    2010       WD           Normal     175900
11       500       3    2010       WD           Normal     185000
12         0       5    2010       WD           Normal     180400
13         0       2    2010       WD           Normal     171500
16         0       6    2010       WD           Normal     164000
18         0       6    2010       WD           Normal     141000
51         0       1    2010       WD           Normal     199500
54         0       6    2010       WD           Normal     184500
55         0       5    2010       WD           Normal     216500
56         0       4    2010       WD           Normal     185088
57         0       4    2010       WD           Normal     180000
58         0       5    2010       WD           Normal     222500
344        0       7    2009       WD           Normal     189500
345        0       8    2009       WD           Normal     270000
346      490       6    2009       WD           Normal     189000
347        0      10    2009       WD           Normal     377500
348      700       5    2009       WD           Normal     168500
353        0       2    2009       WD           Normal     177500
354        0      12    2009       WD           Normal     185000
355        0      10    2009       WD           Normal     191000
356        0       5    2009       WD           Normal     178000
357      480       4    2009       WD           Normal     185000
358        0       7    2009       WD           Normal     181316
359        0      11    2009       WD           Normal     166000
360        0      12    2009       WD           Normal     178000
361        0       3    2009       WD           Normal     174000
362        0       7    2009       WD           Normal     173000
363        0       5    2009       WD           Normal     225000
364        0       5    2009       WD           Normal     180500
369        0       7    2009       WD           Normal     185000
464        0       6    2009       WD           Normal     184000
465        0       7    2009       WD           Normal     167800
466        0       6    2009       WD           Normal     174000
467        0       3    2009       WD           Normal     174000
474        0       7    2009       WD           Normal     188500
475        0      12    2009     ConLI          Normal     200000
476        0       8    2009       WD           Normal     170000
477        0       9    2009       WD           Normal     189500
478        0       3    2009       WD           Normal     184100
479        0       7    2009       WD           Normal     195500
480        0       6    2009       WD           Normal     192000
481        0       5    2009       WD           Normal     178000
483        0       4    2009       WD           Normal     236000
484        0       7    2009       WD           Normal     257500
485        0       7    2009       WD           Normal     244000
486        0       5    2009       WD           Normal     167000
487        0       6    2009       WD           Normal     179000
488        0       6    2009       WD           Normal     190000
489        0       3    2009       WD           Normal     156000
490        0       5    2009       WD           Normal     245000
491        0       6    2009       WD           Normal     181000
492        0       6    2009       WD           Normal     214000
493        0       6    2009       WD           Normal     168000

[56 rows x 82 columns]

In [21]:
# Question 9:
# count of homes sold in Gilbert with Yr Sold being 2010
count_homes = ames_df[(ames_df['Neighborhood'] == 'Gilbert') & (ames_df['Yr Sold'] == 2010)].shape[0]
print("Homes in Gilbert with Yr Sold in 2010:", count_homes)

Homes in Gilbert with Yr Sold in 2010: 15

In [24]:
# Question 10:
# Access value at third row, fifth column (indexing starts at 0)
my_value = ames_df.iloc[2, 4]
print("Value at third row, fifth column:", my_value)

Value at third row, fifth column: 81.0

In [25]:
# Question 11:
# Format SalePrice column with $ and commas
ames_df['Formatted SalePrice'] = ames_df['SalePrice'].apply(lambda x: '${:,.0f}'.format(x))

# Display first five rows to verify
ames_df[['SalePrice', 'Formatted SalePrice']].head()

   SalePrice Formatted SalePrice
0     215000            $215,000
1     105000            $105,000
2     172000            $172,000
3     244000            $244,000
4     189900            $189,900

In [27]:
# Question
# Create new DataFrame with required columns
minimal_df = ames_df[['Neighborhood', 'Year Built', 'Formatted SalePrice']]

# Save DataFrame to CSV file
minimal_df.to_csv('minimal_ames_housing.csv', index=False)

# Print confirmation message
print("DataFrame saved as 'minimal_ames_housing.csv'")

DataFrame saved as 'minimal_ames_housing.csv'